body {
    background-color: whitesmoke;
    /* display: flex; */
    text-align: center;
    margin: auto;
    padding-left: 30px;
    max-width: 1000px;
    justify-content: center;
    align-items: center;
    /* color: #e5e5cb; */
    color: #3c2a21;
    font-size: 1.05rem;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
header {
    padding-right: 30px;
}

  h1 {
    background-color: #304269;
    width: 945px;
    margin: auto;
    font-size: 2rem;
    text-align: center;
    max-width: 1000px;
    justify-content: flex-start ;
    align-items: center;
    padding: 2rem;
    font-family: "Abril Fatface", serif;
    font-weight: 400;
    font-style: normal;
  } 

  #grid-container {
    border: 0px dashed black;
    margin: auto;
    width: 1000px;
    height: 1000px;
    padding: 0px;
    display: grid;
    grid-template-columns: repeat(18,1fr);
    grid-template-rows: repeat(54,1fr);
    /* gap: 0.5rem; */
    /* display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    /* grid-template-rows: 1fr 1fr 1fr 1fr; */
    /* grid-template-rows: repeat(4, 1fr); */
  }
  
  #grid-container > * {
    width: 100%;
    height: 100%;
    /* width: 50px;
    height: 50px; */
    justify-content: center;
    align-self: center;
    justify-self: center;
  }

  #box1 {
    border: 1.2px black;
    /* background-color: limegreen; */
    grid-column: 1/8;
    grid-row: 1/15;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    padding-left: 10px;
    padding-right: 10px;
    text-align: left;
  }

  .question1 > img {
    /* align-self: center;
    justify-self: center;
    object-fit: cover; */
    padding-left: 10px;
    width: 80%;
    height: 100%;
  }

  #box2 {
    /* background-color: purple; */
    grid-column: 8/15;
    grid-row: 1/7;
  }

  .question2 > img {
    align-self: center;
    justify-content: flex-end;
    /* object-fit: cover; */
    width: 100%;
    height: 100%;
  }

  #box3 {
    /* background-color: aquamarine; */
    grid-column: 13/18;
    grid-row: 7/12;
  }
  #box4 {
    /* background-color: coral; */
    grid-column: 10/18;
    grid-row: 12/23;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1.2px solid black;
    padding-left: 10px;
    padding-right: 10px;
    text-align: right;
  }
  #box5 {
    /* background-color: yellow; */
    grid-column: 1/10;
    grid-row: 17/25;
  }

  .question3 > img {
    align-self: center;
    justify-content: flex-end;
    /* object-fit: cover; */
    width: 68%;
    height: 100%;
  }

  #box6 {
    /* background-color: hotpink; */
    grid-column: 1/17;
    grid-row: 25/54;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1.2px solid black;
    padding-left: 10px;
    padding-right: 10px;
    text-align: left;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
  }

li {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
}

#grid-container2 {
    border: 0px dashed black;
    margin: px;
    width: 1000px;
    height: 1000px;
    padding: 0px;
    display: grid;
    grid-template-columns: repeat(18,1fr);
    grid-template-rows: repeat(57,1fr);
    /* gap: 0.5rem; */
    /* display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    /* grid-template-rows: 1fr 1fr 1fr 1fr; */
    /* grid-template-rows: repeat(4, 1fr); */
}
  
  #grid-container2 > * {
    width: 100%;
    height: 100%;
    /* width: 50px;
    height: 50px; */
    justify-content: center;
    align-self: center;
    justify-self: center;
  }

#box7 {
 /* background-color: hotpink; */
 grid-column: 4/9;
 grid-row: 1/8;
 display: flex;
 justify-content: center;
 align-items: center;
}

.question4 > img {
    align-self: center;
    justify-content: flex-end;
    /* object-fit: cover; */
    width: 94%;
    height: 100%;
  }

#box8 {
   /* background-color: hotpink; */
   grid-column: 9/18;
   grid-row: 1/16;
   display: flex;
   justify-content: center;
   align-items: center;
   border: 1.2px solid black;
   padding-left: 10px;
   padding-right: 10px;
   text-align: center;
}

#box9 {
    /* background-color: yellowgreen; */
    grid-column: 1/9;
    grid-row: 4/17;
    display: flex;
    justify-content: center;
    align-items: center;
}

.question5 > img {
    align-self: center;
    justify-content: flex-end;
    /* object-fit: cover; */
    width: 50%;
    height: 100%;
  }

#box10{
   /* background-color: hotpink; */
   grid-column: 1/17;
   grid-row: 17/25;
   display: flex;
   justify-content: center;
   align-items: center;
   border: 1.2px solid black;
   padding-left: 10px;
   padding-right: 10px;
   text-align: left;
}

#box11 {
    /* background-color: gold; */
    grid-column: 1/8;
    grid-row:26/44;
    display: flex;
    justify-content: center;
    align-items: center;   
    border: 1.2px solid black;
    padding-left: 10px;
    padding-right: 10px;
    text-align: left;
}

#box12 {
    /* background-color: gold; */
    height: 100px;
    grid-column: 8/18;
    grid-row: 26/30;
    display: flex;
    justify-content: center;
    align-items: center;   
}

.question6 > img {
    align-self: center;
    justify-content: flex-end;
    padding-left: 5px;
    /* object-fit: cover; */
    width: 60%;
    height: 100%;
  }

#box13 {
    /* background-color: rebeccapurple; */
    height: 120px;
    grid-column: 10/18;
    grid-row: 29/34;
    display: flex;
    justify-content: center;
    align-items: center;    
}

.question7 > img {
    align-self: center;
    justify-content: flex-end;
    padding-left: 5px;
    /* object-fit: cover; */
    width: 100%;
    height: 100%;
  }

#box14 {
    /* background-color: gold; */
    grid-column: 9/18;
    grid-row: 34/49;
    display: flex;
    justify-content: center;
    align-items: center;   
    border: 1.2px solid black;
    padding-left: 10px;
    padding-right: 10px;
    text-align: right;  
}

#box15 {
    /* background-color: rosybrown; */
    grid-column: 1/8;
    grid-row: 45/57;
    display: flex;
    justify-content: center;
    align-items: center;   
}

.question8 > img {
    align-self: center;
    justify-content: flex-end;
    /* padding-left: 30px; */
    /* object-fit: cover; */
    width: 65%;
    height: 100%;
  }

#box16 {
    /* background-color: gold; */
    grid-column: 6/18;
    grid-row: 50/57;
    display: flex;
    justify-content: center;
    align-items: center;   
    border: 1.2px solid black;
    padding-left: 10px;
    padding-right: 10px;
    text-align: right;  
    height: 130px;
}

#grid-container3 {
    border: 0px dashed black;
    margin: px;
    width: 1000px;
    height: 1000px;
    padding: 0px;
    display: grid;
    grid-template-columns: repeat(18,1fr);
    grid-template-rows: repeat(48,1fr);
    /* gap: 0.5rem; */
    /* display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    /* grid-template-rows: 1fr 1fr 1fr 1fr; */
    /* grid-template-rows: repeat(4, 1fr); */
  }
  
  #grid-container3 > * {
    width: 100%;
    height: 100%;
    /* width: 50px;
    height: 50px; */
    justify-content: center;
    align-self: center;
    justify-self: center;
  }

#box17 {
    /* background-color: royalblue; */
    grid-column: 1/16;
    grid-row: 1/9;
    display: flex;
    justify-content: center;
    align-items: center;   
}

.question9 > img {
    align-self: center;
    justify-content: flex-end;
    padding-bottom: 30px;
    /* object-fit: cover; */
    width: 100%;
    height: 100%;
  }

#box18 {
    /* background-color: gold; */
    /* height: 200px; */
    grid-column: 1/15;
    grid-row: 5/15 ;
    display: flex;
    justify-content: center;
    align-items: center;   
    border: 1.2px solid black;
    padding-left: 10px;
    padding-right: 10px;
    text-align: left;  
}

#box19 {
    /* background-color: red; */
    grid-column: 1/8;
    grid-row: 15/23;
    display: flex;
    justify-content: center;
    align-items: center;
}

.question10 > img {
    align-self: center;
    justify-content: flex-end;

    /* object-fit: cover; */
    width: 99%;
    height: 100%;
  }


#box20 {
    /* background-color: gold; */
    grid-column: 8/18;
    grid-row: 16/26 ;
    display: flex;
    justify-content: center;
    align-items: center;   
    border: 1.2px solid black;
    padding-left: 10px;
    padding-right: 10px;
    text-align: right;  
}

#box21 {
    /* background-color: gold; */
    grid-column: 1/7;
    grid-row: 24/48 ;
    display: flex;
    justify-content: center;
    align-items: center;   
    border: 1.2px solid black;
    padding-left: 10px;
    padding-right: 10px;
    text-align: left;  
}

#box22 {
    /* background-color: teal; */
    grid-column: 7/16;
    grid-row: 25/38;
    display: flex;
    justify-content: center;
    align-items: center;
}

.question11 > img {
    align-self: center;
    justify-content: flex-end;
    padding-left: 5px;
    /* object-fit: cover; */
    width: 70%;
    height: 100%;
  }

#box23 {
    /* background-color: tan; */
    grid-column: 8/18;
    grid-row: 37/49;
    display: flex;
    justify-content: center;
    align-items: center;
}

#grid-container4 {
    border: 0px dashed black;
    margin: px;
    width: 1000px;
    height: 1000px;
    padding: 0px;
    display: grid;
    grid-template-columns: repeat(18,1fr);
    grid-template-rows: repeat(48,1fr);
    /* gap: 0.5rem; */
    /* display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    /* grid-template-rows: 1fr 1fr 1fr 1fr; */
    /* grid-template-rows: repeat(4, 1fr); */
  }
  
  #grid-container4 > * {
    width: 100%;
    height: 100%;
    /* width: 50px;
    height: 50px; */
    justify-content: center;
    align-self: center;
    justify-self: center;
  }

  #box24 {
    /* background-color: gold; */
    grid-column: 8/18;
    grid-row: 1/14 ;
    display: flex;
    justify-content: center;
    align-items: center;   
    border: 1.2px solid black;
    padding-left: 10px;
    padding-right: 10px;
    text-align: right;  
}

#box25 {
    /* background-color: tomato; */
    grid-column: 1/12;
    grid-row: 6/16;
    display: flex;
    justify-content: center;
    align-items: center;
}

.question13 > img {
    align-self: center;
    justify-content: flex-end;
    /* object-fit: cover; */
    width: 80%;
    height: 100%;
  }

#box26 {
    /* background-color: gold; */
    grid-column: 1/18;
    grid-row: 16/24 ;
    display: flex;
    justify-content: center;
    align-items: center;   
    border: 1.2px solid black;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;  
}