/* https://colorhunt.co/palette/1a120b3c2a21d5cea3e5e5cb */

body {
    background-color: #1a120b;
    display: flex;
    text-align: center;
    margin: auto;
    max-width: 1000px;
    justify-content: center;
    align-items: center;
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    /* color: #e5e5cb; */
    color: #3c2a21;
    font-size: 1.1rem;
  }

  h1 {
    font-size: 2rem;
  }

  .outer {
    border: 2px dashed #e5e5cb;
    width: 400px;
    min-height: 200px;
    /* height: 200px; */
    /* line-height: 120px; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    /* flex-wrap: wrap; */
    /* flex-direction: column; */
  }

  p{
    padding: 10px;
  }

  .inner {
    min-width: 100px;
    height: 100px;
    background-color: coral;
    /* margin: 10px; */
    flex: 1;
    border: 5px solid lightblue;
  }

  .noshrink {
    /* flex-shrink: 0; */
  }

  .growmore {
    flex-grow: 4;
  }
  
  a, span {
    display: none;
  }