* {
    color: hotpink;
}

body {
    text-align:center;
    border: 4px solid chocolate;
}

/* my brand color is lime hence I made h1 as lime  */


/* Reasoning for styling of this page is as follow:
1) my brand used this color
2) all my paragraphs are single spaced with font size */

h1 {
    color: lime;
    border: 2px solid black;
}

p,
h1 {
    color:blueviolet;
}

li {
    color: black;
}

li strong {
    color:black
}

/* .my-colors {
    color:crimson
} */

#instructor {
    color:purple
}

/* #last-para {
    color: yellowgreen
} */

[data-email="email"] {
    color: blue
}