* {
    text-align: center;
}

h1 {
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: 900;
    padding-bottom: 10px;
    color: #162c3a;
    font-family: "Yeseva One", serif;
    font-weight: 400;
    font-style: normal;
}
ul {
    line-height: ;
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    color: #dba988;
}

h2 {
    font-size: 1.4rem;
    padding-bottom: 10px;
    padding-top: 10px;
    color: #d97c50;
    font-family: "Yeseva One", serif;
    font-weight: 400;
    font-style: normal;
}

p{
    line-height: 1.4;
    padding: 10px;
    font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

a:hover {
    color: purple
}

a :visited {
    color: green
}